@import '../styles/variables.sass';

.product {
  padding-top: 50px;
  margin-top: 50px;

  .product__container {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    .product__title {
      flex: 1 1 100%;
      text-align: center;
      margin: 20px 0;
      padding: 20px;
      border-bottom: 1px solid rgba($color: $black, $alpha: .3);
      border-top: 1px solid rgba($color: $black, $alpha: .3);

      h1 {
        font-size: 24px;
        text-transform: uppercase;
      }
    }

    .product__image {
      flex: 1 1 100%;

    }

    .product__content {
      flex: 1 1 100%;


      .product__brand {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 36px;
        margin-bottom: 20px;
      }

      .product__price {
        font-size: 45px;
        line-height: 30px;
        font-family: $secondaryFont;
        color: $black;
        margin-bottom: 10px;


      }

      .product__discount {
        display: none;

        .product__discount--text {
          display: block;
          position: relative;
          font-size: 14px;
          color: #da3402
        }
      }

      .product__description {
        font-size: 20px;
        font-weight: 400;
        font-family: $secondaryFont;
        line-height: 24px;
        margin-bottom: 20px;
      }

      .product__button {
        width: 100%;
        margin: 30px 0;

        .btn {
          width: 100%;
          box-shadow: none;
          background-color: $black;
          color: $white;
          border: none;
          border-radius: 0;

          &:hover {
            background-color: $secondary
          }

        }

      }

      &.hasDiscount {
        .product__discount {
          display: block;
          font-size: 45px;
          color: $black;
        }

        .product__price {
          text-decoration: line-through;
          color: $primary;
          font-size: 26px;
        }
      }
    }

    .product__conditions {
      margin-top: 20px;

      h3 {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 36px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba($color: $black, $alpha: .3);


      }
    }
  }

  @media (min-width: $mobile) {
    margin-top: 150px;
    padding-top: 250px;

    .product__content,
    .product__image {
      flex: 1 1 50%;
      padding: 20px;
    }

    .product__conditions {
      padding: 20px;

    }

  }

}