@import "../../styles/variables.sass";

.services {
  margin-top: 70px;

  &.full-width-image-container {
    background-position: top;

  }

  .services__contatiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .services__item {
      width: 100%;


    }

    .services__card {
      display: flex;
      flex-direction: row;
    }


    .services__card--image {
      width: 50%;
      max-height: 250px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .services__card--text {
      width: 50%;
      padding: 0 20px;

      h2 {
        font-weight: 700;
        font-family: $mainFont;
        font-size: 18px;
        color: $black;
        line-height: 22px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .services__card--price {
        flex: 1 1 100%;
        justify-content: flex-start;
        display: flex;

        p {
          font-size: 35px;
          color: $secondary;
          font-family: $mainFont;
        }
      }
    }
  }

  @media (min-width: $mobile) {
    .services__contatiner {
      .services__item {
        width: 50%;

      }
    }
  }
}