@import "../../../styles/variables.sass";


.services.is-fluid.container {
  background-color: $primary;
  margin: 0;
  padding: 0;
  background-color: rgba($color: #FCE2C3, $alpha: .2);

  .column {
    min-height: 386px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .services__icon {
      margin-top: 30px;
    }

    .services__title {
      color: $primary;
      font-size: 42px;
      font-family: $secondaryFont;
      line-height: 48px;
      font-weight: 700;
      margin: 30px 0;
    }

    .services__text {
      font-family: $mainFont;
      font-weight: normal;
      font-size: 24px;
      line-height: 39px;
      margin: 10px 70px;
    }

    &.services__ {
      &0 {
        background-color: #FDD8AC;
      }

      &1 {
        background-color: #FCF3E9;
      }

      &2 {
        background-color: #FCF3E9;
      }

      &3 {
        background-color: #D7BCA9;
      }
    }

  }
}