@import "../../../styles/variables.sass";


.services.is-fluid.container {
  background-color: $primary;
  margin: 0;
  padding: 0;
  background-color: rgba($color: #FCE2C3, $alpha: .2);

  .columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .column {
    min-height: 386px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;

    .services__icon {
      margin-top: 30px;
    }

    .services__title {
      color: $primary;
      font-size: 35px;
      font-family: $secondaryFont;
      line-height: 39px;
      font-weight: 700;
      margin: 10px 0;
    }

    .services__text {
      font-family: $mainFont;
      font-weight: normal;
      font-size: $textMobile;
      line-height: 38px;
      padding: 10px 15px;
    }

    &.services__ {
      &0 {
        background-color: #FDD8AC;
      }

      &1 {
        background-color: #FCF3E9;
      }

      &2 {
        background-color: #D7BCA9;
      }

      &3 {

        background-color: #FCF3E9;
      }
    }

  }

  @media (min-width: $mobile) {
    .columns {
      margin-left: -0.75rem;
      margin-right: -0.75rem;

      .services__title {
        font-size: 42px;
        line-height: 48px;
        margin: 30px 0;
      }

      .services__text {
        font-size: $textDesktop;
        line-height: 39px;
        padding: 10px 70px;
      }

      .column {

        &.services__ {
          &0 {
            background-color: #FDD8AC;
          }

          &1 {
            background-color: #FCF3E9;
          }

          &2 {
            background-color: #FCF3E9;
          }

          &3 {
            background-color: #D7BCA9;
          }
        }
      }
    }
  }
}