@import "../../../styles/variables.sass";

.localitation {
  background-image: url('/img/image_footer.jpg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-origin: content-box;
  background-size: contain
}

.localitation__container {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  .localitation__title {
    flex: 1 100%;
    justify-content: center;
    display: flex;
    margin: 20px 0;
    align-items: center;

    h2 {
      color: $primary;
      font-size: 26px;
      font-family: $secondaryFont;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      padding: 0 50px;
      width: 100%;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);

      &:before {
        content: 'Contacta ahora';
        z-index: -1;
        position: absolute;
        font-size: 40px;
        font-family: $mainFont;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: rgba($color: #ccc, $alpha: .3);
      }
    }

    @media (max-width: $mobile) {
      .localitation__title {
        height: 150px;

        h2 {
          padding: 0 100px;
        }
      }
    }
  }

  .localitation__text--container,
  .localitation__container--map {
    flex: 1 1 50%;
    height: auto;
    min-height: 50vh;
    padding: 10px 20px;
  }

  .localitation__text--container {
    align-items: flex-start;
    font-size: 16px;
    line-height: 25px;


    b {
      font-size: 22px;
      color: $black;
    }

    a {
      color: $primary;
      font-size: 16px;
    }

    .icon_instagram,
    .icon_facebook {
      margin-top: 10px;
      height: 50px;
      width: 50px;
      position: relative;
      display: inline-block;
      float: left;

      svg {

        fill: $primary;

        #facebook {
          width: 150px;
          height: 150px;
          transform: scale(4.5);
        }
      }
    }

    .icon_instagram {
      padding: 0;
      height: 46px;
      width: 46px;

      svg {
        fill: $primary;
        width: 90%;
      }
    }
  }

  @media (min-width: $mobile) {
    height: 100vh;

    .localitation__text--container,
    .localitation__container--map {
      flex: 1 1 50%;
      height: 200px;
      min-height: 60vh;
      padding: 2rem 0;
    }

    .localitation__text--container {
      padding-left: 20px;
    }

  }
}