@import "../../styles/variables.sass";

.products {
  margin-top: 70px;

  .full-width-image-container {
    background-position: top;
  }
}

.products__body {
  margin-top: 0;
  padding-top: 0;

  .products__filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .products__contatiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .product__item {
      flex: 1 1 33%;
      max-width: 33%;
      padding: 10px;
      //border: 1px solid #ccc;

      .product__card {
        box-shadow: 0 0 1px 1px rgba(#ccc, 0.7);
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .product__card--image {
        overflow: hidden;
        //margin-bottom: 10px;
        padding-bottom: 10px;
        flex: 0 0 400px;
        overflow: hidden;

      }

      .product__card--text {
        padding: 20px;
        display: flex;
        flex: 1 1;
        background-color: rgba($primary, 0.05);

        >div {
          flex: 1 1 50%;

          >p {
            font-family: $mainFont;
            font-size: 16px;
            line-height: 20px;
          }
        }

        .product__card--category {
          background-color: $primary;
          padding: 5px 5px;
          margin: 10px 0;
          width: 80px;
          text-align: center;
          color: $white;
          font-weight: 700;
        }

        h4 {
          font-weight: 700;
          font-family: $mainFont;
          font-size: 18px;
          color: $black;
          line-height: 22px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }


      }

      .product__card--button {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
      }

      .product__card--price {
        flex: 1 1 100%;
        justify-content: flex-end;
        display: flex;

        p {
          font-size: 35px;
          color: $secondary;
          font-family: $mainFont;
        }
      }
    }
  }
}