@import "../styles/variables.sass";

.navbar-brand {
  z-index: 1;
  display: block;
  position: relative;
  height: 3.25rem;

  &.is-active {
    background-color: #fff;

  }

  .navbar-burger.is-active {
    background-color: #fff;

  }
}

.navbar {

  .navbar-menu {
    padding-top: 100px;
    height: calc(100vh - 100px);

    .navbar-item {
      font-size: 30px;
      font-weight: 700;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $primary;
      width: 80%;
      margin: 0 auto;

      &:last-child {
        border-bottom: none;
      }
    }

    @media (min-width: $mobile) {
      padding-top: 20px;
      height: 50px;

      .navbar-item {
        font-size: 20px;
        padding-top: 0;
        padding-bottom: 0;
        border-right: 1px solid $primary;
        border-bottom: none;
        margin: initial;
        width: initial;

        &.active,
        &:hover {
          color: $primary;
        }

        &:last-child {
          border-right: none;

        }
      }
    }
  }
}