@import "../variables.sass";

.slick-slider {
  height: calc(100vh - 150px);

  .caroulsel__container {
    overflow-y: hidden;
    position: relative;

    display: flex;
    height: calc(100vh - 150px);
  }

  .caroulsel__image {
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .caroulsel__text {
    position: absolute;
    top: 50%;
    left: 10%;

    h1 {
      color: $secondary;
      font-size: 36px;
      font-family: $secondaryFont;
    }

    h2 {
      color: $primary;
      font-size: 30px;
      font-family: $mainFont;
    }
  }
}