@import "../../../styles/variables.sass";

.slick-slider {
  //margin-bottom: 50px;
  height: calc(100vh - 55px);

  .caroulsel__container {
    overflow-y: hidden;
    position: relative;

    .full-width-image {
      height: calc(100vh - 55px);
      background-position: right;
      background-position-x: 565px;
    }
  }

  .slick-arrow {
    background-color: rgba($primary, 0.5);
    width: 45px;
    height: 50px;
    z-index: 10;

    &:hover {
      background-color: rgba($primary, 0.9);
    }

    &.slick-next {
      right: 0;
    }

    &.slick-prev {
      left: 0;

    }

    &:before {
      display: none
    }

    .icon-arrow {
      display: flex;
      align-content: center;
      padding: 8px 5px 5px 0;

      svg {
        height: 35px;
        width: 35px;
        fill: $secondary;
      }

      &:hover {
        svg {
          fill: $primary-invert
        }
      }

      &.icon-arrow__next {
        padding-top: 5px;

        svg {
          transform: rotate(180deg)
        }
      }
    }
  }

  .caroulsel__text {
    position: absolute;
    bottom: 5px;
    width: calc(100vw - 10px);
    background: rgba(#fff, 0.9);
    padding: 10px;

    h1 {
      color: $secondary;
      font-size: 20px;
      line-height: 23px;
      font-weight: 700;
      font-family: $secondaryFont;
      margin-bottom: 10px;
    }

    h2 {
      color: $primary;
      font-size: 17px;
      line-height: 19px;
      font-family: $mainFont;
      font-weight: 700;
    }
  }

  @media (min-width: $mobile) {
    .caroulsel__container {
      .full-width-image {

        background-position-x: 0px;
      }
    }

    .caroulsel__text {
      position: absolute;
      top: 36%;
      left: 10%;
      width: 35%;
      background: none;

      h1 {
        font-size: 36px;
        line-height: 40px;
      }

      h2 {
        font-size: 30px;
        line-height: 36px;
      }

    }

    .slick-arrow {

      width: 70px;
      height: 80px;

      .icon-arrow {

        padding: 8px 5px 5px 0;

        svg {
          height: 70px;
          width: 60px;
        }

        &.icon-arrow__next {
          padding-top: 5px;
        }
      }
    }
  }

}